/*
 * General CSS
 */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  /* height: 100%; */
}






/*
 * Landing
 */

.landing {
  height: 100vh;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing--title {  order: 1;}
.landing--image { order: 2;}
.landing--subtitle { order: 3;}





/*
 * Navigation
 */

.nav {
  display: flex;
  height:  20%;
  min-height: 100px;
  max-height: 150px;
  width: 100%;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.nav__image {
  display: none;
}

.nav__item {
  color: white;
  width: 20%;
  text-decoration: none;
}


.orange, .blue, .green {
  width: 100%;
  height: 100%;
  height: 300px;
}

.orange { background-color: orange;}
.blue { background-color: blue;}
.green { background-color: green;}





@media all and (min-width: 768px) {

  .nav {
    display: flex;
    height: 20%;
    max-height: 50px;
    width: 100%;
    background-color: grey;
    justify-content: flex-end;
  }
  
  .nav__item {
    display: block;
    width: 10%;
  }

  .nav__image {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 50px;
    align-self: flex-start;
  }

}