/*
 * General CSS
 */

:root {
   --main-color: red;
   --secondary-color: green;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

.image {
  width: 100%;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
}

.btn--active {
  background-color: var(--secondary-color);
}







/*
 * Landing
 */

.landing {
  height: 100vh;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing__title { order: 1;}
.landing__image { order: 2;}
.landing__subtitle { order: 3;}





/*
 * Navigation
 */

.nav {
  height:  100px;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: height .2s ease;
}

.nav__image {
  display: none;
}

.nav__item {
  color: white;
  text-decoration: none;
  text-align: center;
}

.nav--sticky {
  position: fixed;
  height: 50px;
}





.about--scrolled {
  margin-top:100px;
} 


.orange, .blue, .green {
  width: 100%;
  height: 100%;
  height: 300px;
}

.orange { background-color: orange;}
.blue { background-color: blue;}
.green { background-color: green;}





@media all and (min-width: 768px) {



  .nav {
    display: flex;
    height: 20%;
    max-height: 50px;
    width: 100%;
    background-color: grey;
    justify-content: flex-end;
  }
  
  .nav__item {
    display: block;
    width: 10%;
  }

  .nav__image {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 50px;
    align-self: flex-start;
  }

  .landing {
    display: grid;
    grid-template-columns: 10% 1fr 2fr 10%;
    grid-template-rows: 10% 1fr 1fr 10%;  
  }

  .landing__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .landing__title {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    align-self: end;
  }

  .landing__subtitle {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: start;
    align-self: start;
  }

}