* {
  /* background-color: #F2F2F2; */
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2E5EFF;
  --main-grey: #575757;
  --tertiary: #152B74;
  --light-main: #C4EBFF;
  --white: ;
  --big-font: 18vw;
  --big-font-leading: 16vw;
  --med-font: 12vw;
  --img-width: 60vw;
  --header-margin: 5vh;
  --header-padding: 2vw;
  --hi-height: calc(34vh + var(--img-width) * 1.072 - var(--img-width) * 1.072 / 100 * 64);

}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: underline;
  font-weight: 900;
}

a:link {
  /* color: var(--light-main); */
  color: var(--main-color);

}

a:visited {
  /* color: var(--main-color); */
  color: var(--light-main);

}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* height: calc(100vh + var(--img-width) * .40); */
}

.name {
  color: white;
  text-align: left;
  /* margin-top: var(--header-margin); */
  background-color: var(--main-color);
  height: 39vh;
}

.title {
  /* color: var(--main-grey); */
  color: var(--main-color);
  background-color: #000;
  text-align: right;
  justify-content: flex-end;
  height: 27vh;

}

.name,
.title {
  font-weight: 900;
  font-size: var(--big-font);
  line-height: var(--big-font-leading);
  padding: 0 var(--header-padding);
  display: flex;
  /* height: 33vh; */
  align-items: center;
  overflow: hidden;
}

.tom_hi {
  align-self: center;
  display: flex;
  background-color: var(--light-main);
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: var(--hi-height);
  padding-bottom: 7vh;
  position: relative;
}

.hi {
  position: absolute;
  font-weight: 900;
  color: var(--main-color);
  font-size: var(--med-font);
  /* transform: translateX(calc(var(--img-width) / 2 * -1)) translateY(calc(var(--img-width) * -1)); */
  /* opacity: 0; */
  top: 10vh;
  left: 10vw;
}

.tom {
  width: var(--img-width);
  height: calc(var(--img-width) * 1.072);
  max-height: var(--hi-height);
  max-width: calc(var(--hi-height) / 1.072);
}


.about_me {
  font-size: 6vw;
}

.about_me p {
  padding: 5vh 5vw;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  background-color: black;
  color: white;
}

/* ----- animation ----- */
/* .delay {
  -webkit-animation: delay 1s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: delay 1s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: delay 1s cubic-bezier(.59, .01, .28, 1);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */